.violet-color {
	color: violet;

}

hr {
	border: none;
	height: 2px;
	background-color: violet;
	margin: 0 50px 0 50px;

}

footer {
	line-height: 100%;

}

body {
	padding-top: 70px;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}